button {
    cursor: pointer;

    padding: 1rem 1.5rem;

    font-weight: 700;
    color: var(--white);

    background-color: var(--marine-blue);
    border: none;
    border-radius: 0.5em;
    outline-color: var(--marine-blue);

    transition: var(--hover);

    &:hover,
    &:focus {
        background-color: var(--navy-blue);
    }

    &:active {
        background-color: var(--navish-blue);
    }
}

.text_btn {
    padding: 0;
    color: var(--cool-gray);
    background-color: transparent;
    border: none;
}
