.container {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    background-color: var(--white);
    border-radius: 1rem;

    h1 {
        font-size: 2rem;
        color: var(--marine-blue);
    }
}

.sidebar {
    padding: 2rem;
    background-color: var(--purplish-blue);
    border-radius: 0.5rem;
}

.form_section {
    padding: 2rem 5rem;
}
