.container {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    background-color: var(--white);
    border-radius: 1rem;

    h1 {
        font-size: 2rem;
        color: var(--marine-blue);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem 5rem 2rem 2rem;

    background-color: var(--purplish-blue);
    border-radius: 0.5rem;

    .step {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .step_label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    h3 {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--white);
        text-transform: uppercase;
    }

    span {
        font-size: 0.75rem;
        color: var(--magnolia);
        text-transform: uppercase;
    }

    .number {
        padding: 0.5em 0.8em;

        font-size: 1rem;
        font-weight: 500;

        border: 1px solid var(--magnolia);
        border-radius: 50%;
    }

    .number.active {
        color: var(--marine-blue);
        background-color: var(--light-blue);
    }
}

.form_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.5rem;
    }

    label {
        font-weight: 500;
        color: var(--marine-blue);
    }
}

.input_section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input_info {
        display: flex;
        justify-content: space-between;

        span.error {
            font-weight: 500;
            color: var(--strawberry-red);
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem 1rem;
}
